.accueil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box; 
}
  .titre {
    font-size: 3rem;
    color: #1a202c;
    margin-bottom: 1.75rem;
  }
  
  .sous-titre {
    font-size: 2rem;
    color: #124660;
    margin-bottom: 2.5rem;
  }
  
  .contenu-central {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .boutons-groupés {
    display: flex;
    gap: 2rem;
  }
  
  .bouton-login {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 10px;
    background-color: #8BD59E;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    min-width: 180px;
  }
  
  .bouton-login:hover {
    background-color: #1B9476;
    transform: scale(1.05);
  }
  